{% extends "planner/base.html" %}

<div class="course-list">
{% block content %}
	{% for course in courses %}
		<div class="course">
			<p class = "course-title"><a href="{% url "course_detail" pk=course.pk %}">{{ course.fullname }}</a> <a class="btn btn-remove" href=></p>
		</div>
	{% endfor %}
	{% for course in y1q1 %}
		<div class="course">
			<h1> Y1Q1 </h1>
			<p class = "course-title"><a href="{% url "course_detail" pk=course.pk %}">{{ course.fullname }}</a> <a class="btn btn-remove" href=></p>
		</div>
	{% endfor %}
{% endblock content %}
</div>
