{% extends "planner/base.html" %}

{% block content %}
  <div class = "sidebar">
    <ul>
      {% for course in cores %}
      <li>course.fullname</li>
      {% endfor %}
    </ul>
  </div>
    <div class="courseList container-fluid">
        <div class="year row">
            {% for key, value in years_quarters %}
            <div class="quarter col-md-3">
                <h1>{{ key|upper }}</h1>
                {% for course in value %}
                <p class="courseEntryTitle"><a href="{% url "course_detail" pk=course.pk %}">{{ course.dept }} {{ course.number }}</a><a class="btn btn-remove" href=></a></p>
                {% endfor %}
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
                <div class="year">
            {% endif %}
        {% endfor %}
      </div> <!-- whats going on here? -->
    </div>
{% endblock content %}
